/.env
/.idea/.gitignore
/.idea/App-7-Automated-Emails.iml
/design_yuval.txt
/.idea/misc.xml
/.idea/modules.xml
/people1.xlsx
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/~$people.xlsx
